
.cliente{
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
}

.nombre,.fecha{
    display: flex;
    justify-content: space-around;
}

#nombre{
    width: 50rem;
}

.input{
    display: flex;
    flex-direction: column;
}

.tabla{
    overflow: scroll;
    height: 65vh;
    background-color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr th{
    border: .1rem solid black;
}

table tbody tr td{
    text-align: center;
    border: .1rem solid black;
}

table tbody tr td input{
    width: 100%;
}

footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.saldos{
    display: flex;
    justify-content: space-around;
}

.saldos #tarjeta{
    padding: 2rem;
    font-size: 1.5rem;
    transform: scale(2);
}

