body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
  
  }
  .buttonSeleccionado{
    background-color: rgba(75, 75, 75, 0.9);
    color: white;
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 1.6rem;
    padding: 0 2rem;
    background-color: burlywood;
  }

.seleccionado{
    background-color: lightgray !important; 
}

.subSeleccionado{
    background-color: gray !important;
}

.botones{ 
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

button{
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    border-radius: 8.5px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.2);
}


.none{
    display: none !important;
}

input{
  padding: .5rem;
  font-size: 1.5rem;
}

input:disabled{
  font-weight: 900;
  color: black;
}

.text-rigth{
  text-align: right;
}

.text-bold{
  font-weight: bold;
}

select{
  font-size: 2rem;
  padding: 1rem;
}

.acciones{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.tool{
  position: relative;
}

.tool:hover .tooltip{
  display: block;
}

.tooltip{
  display: none;
  position: absolute;
  z-index: 1;
  width: max-content;
  background-color: gray;
  color: white;
  border: .1rem solid black;
}