body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.buttonSeleccionado {
  background-color: rgba(75, 75, 75, 0.9);
  color: white;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  padding: 0 2rem;
  background-color: burlywood;
}

.seleccionado {
  background-color: lightgray !important;
}

.subSeleccionado {
  background-color: gray !important;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

button {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  border-radius: 8.5px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.none {
  display: none !important;
}

input {
  padding: 0.5rem;
  font-size: 1.5rem;
}

input:disabled {
  font-weight: 900;
  color: black;
}

.text-white{
  color: white;
}

.text-white{
  color: white;
}

.text-destructive{
  color: #dc2626;
}

.text-black{
  color: black;
}

.text-muted-foreground{
  color: #374151;
}

.text-balance{
  color: #374151;
}

.text-primary {
  color: #15803d
}

.text-center {
  text-align: center;
}

.text-rigth {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-sm{
  font-size: 0.625rem;
}

.text-xl{
  font-size: 2rem;
}

select {
  font-size: 2rem;
  padding: 0.5rem;
}

.acciones {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.tool {
  position: relative;
}

.tool:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  width: max-content;
  background-color: gray;
  color: white;
  border: 0.1rem solid black;
}

/* background */

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: rgb(114, 114, 114);
}

/* border */

.border {
  border: 0.1rem solid black;
}

.border-collapase {
  border-collapse: collapse;
}

.rounded-sm{
  border-radius: 0.75rem;
}

/* heght */
.h-screen {
  height: 100vh;
}

.h-50 {
  height: 50rem;
}

.h-40 {
  height: 40rem;
}

.h-35 {
  height: 35rem;
}

.h-30 {
  height: 30rem;
}

.h-25 {
  height: 25rem;
}

.h-20 {
  height: 20rem;
}

.h-10 {
  height: 10rem;
}

/* width */

.w-full {
  width: 100%;
}

.w-90{
  width: 90%;
}

.w-80{
  width: 80%;
}

.w-50{
  width: 50%;
}

.w-40{
  width: 40%;
}

.w-30{
  width: 30%;
}

.w-20{
  width: 20%;
}

.w-10{
  width: 10%;
}


/* img */
.object-cover{
  object-fit: cover;
}

.object-contain{
  object-fit: contain;
}
/* Grid */

.grid{
  display: grid;
}

.colums-2{
  grid-template-columns: repeat(2, 1fr);
}

.colums-3{
  grid-template-columns: repeat(3, 1fr);
}

/* Grid */

/* flex */
.flex {
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center{
  align-items: center;
}

/* hover */

.cursor-pointer {
  cursor: pointer;
}

.text-end {
  text-align: end;
}

.hover-bg-gray:hover {
  background-color: gray;
}

/* padding */

/* margin */

.mx-1{
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-2{
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-5{
  margin: 5rem;
}

.m-0 {
  margin: 0rem;
}

.m-2 {
  margin: 2rem;
}

.my-1{
  margin: 1rem 0;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* padding */
.p-0{
  padding: 0;
}

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 2rem;
}

.p-0-5{
  padding: 0.5rem;
}

.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}


.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.rounded-lg {
  border-radius: 2rem;
}

.modal{
  position: absolute;
  height: 100vh;
  width: calc(100% - 0px);;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
}

#divSpinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 0px);
    width: calc(100% - 0px);;
    align-items: center;
}

#textSpinner{
    color: white;
    font-size: 2rem;
}

/* Font */
.font-semibold{
  font-weight: 600;
}

.spinner{
    border: .4rem solid rgb(145, 145, 145);
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border-left-color: transparent;

    animation: spin 1s linear infinite
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
    transform: rotate(360deg);
    }
}


.overflow-auto{
  overflow: auto;
}