.menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.card img{
    width: 10rem;
    height: 9rem;
    border-radius: 1rem;
}

.card h3{
    margin-top: 1rem;
    margin-bottom: 0;
}

.informacion{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.informacion p{
    margin: 0.5rem;
}

#imprimirVenta main{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

#imprimirVenta input,#imprimirVenta select{
    font-size: 1.8rem;
}

label{
    display: inline-block;
    width: 7rem;
}


.boton{
    margin: 10px;
}

#webContainer{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.lbl-switch{
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#btn-switch:checked~ .lbl-switch{
    background: #61A0FF;
}

#btn-switch:checked~ .lbl-switch::after{
    left: 28px;
}

.lbl-switch::after{
    position: absolute;
    content:  '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

#btn-switch{
    display: none;
}