.listaServicio h1{
    text-align: center;
}

.listaServicio .table{
    height: 75vh;
    background-color: white;
    overflow: scroll;
}

.table table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.table table th,.table table td{
    border: .1rem solid black;
}

.acciones{
    display: flex;
    justify-content: space-around;
}

table td:hover{
    cursor: pointer;
}

.cliente fieldset{
    display: flex;
    justify-content: space-around;
}

.cliente #idCliente{
    width: 5rem;
}

.cliente label{
    display: inline-block;
    width: 10rem;
}

.producto .cliente, main{
    display: flex;
    flex-direction: column;
}

.producto{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
}

.egreso fieldset{
    display: flex;
    justify-content: space-around;
}

.detalles{
    width: 100%;
}

textarea{
    font-size: 2rem;
}