
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

header input,header select{
  font-size: 1.2rem;
}

.negro{
  background-color: rgb(0, 0, 0);
  color: white;
}

.principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.negro th,.negro td{
  color: black;
} 

.parteCliente{
  width: 100%;
  border: .1rem solid black;
  border-bottom: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  gap:2rem
}
.parteCliente div,.parteCliente2 div,.parteCliente2 main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parteCliente2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border: .1rem solid black;
  border-top: none;
  padding-bottom: 1rem;
}

.parteCliente2 div input,.parteCliente2 div select{
  width: 70%;
}

.parteCliente div #nombre,.parteCliente div input{
  width: 100%;
}

.parteCliente div #saldo,.parteCliente div #codigo{
  width: 50%;
}

.parteProductos .buscarProductos{
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
}

.parteProductos .buscarProductos div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parteProductos .buscarProductos div input{
  font-size: 1.7rem;
}

.parteProductos .buscarProductos #rubro{
  padding: .5rem;
  font-size: 1.5rem;
}

.parteProductos .cod-barra{
  width: 15rem;
}

.parteProductos .buscarProductos div .w-100{
  width: 100%;
}

.parteProductos .buscarProductos div .w-50{
  width: 50%;
}

.parteProductos .listarProductos{
  background-color: white;
  margin-top: 2rem;
  border: .1rem solid black;
  height: 50vh;
  overflow: scroll;
}

.parteProductos .listarProductos table{
  width: 100%; 
  border-collapse: collapse;
}


.parteProductos .listarProductos table thead tr{
  background-color: chocolate;
}

.parteProductos .listarProductos table thead th{
  font-size: 1.2rem;
  border: .1rem solid black
}

.parteProductos tbody tr:hover{
  background-color: lightgray;
}

.parteProductos tbody .seleccionado:hover{
  background-color: gray;
}

.parteProductos .listarProductos table thead .th-nombre{
  width: 40%;
}

.parteProductos tbody td{
  border: .1rem solid black;
  word-break: break-all;
  cursor: pointer;
  font-size: 1.2rem;
}

.productos .cajaBuscador{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.productos .cajaBuscador .caja{
  display: flex;
  flex-direction: column;
}

.productos .cajaBuscador .caja select{
  font-size: 1.2rem;
  padding: 0.5rem;
}



.condicionVenta{
  margin-top: 1rem;
  display: flex;
}

.condicionVenta div{
  margin-left: 1rem;
}

.condicionVenta div label{
  font-weight: bold;
}

.condicionVenta .none{
  display: none;
}


.totales{
  display: flex;
  justify-content: space-between;
}

.totales input{
  font-size: 1.7rem;
  padding: 1rem;
}

.cobrado{
  display: flex;
}

.alerta{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0,0,0,.5);
}

.texto{
  color: white;
}

.texto p{
  font-size: 2rem;
}

.spinner{
margin-left: 5rem;
border: .4rem solid rgba(0,0,0,1);
width: 3.6rem;
height: 3.6rem;
border-radius: 50%;
border-left-color: transparent;

animation: spin 1s linear infinite

}

@keyframes spin{
0%{
  transform: rotate(0deg);
}

100%{
  transform: rotate(360deg);
}
}

.totales input[type=number],.botones input[type=number]{
  width: 15rem;
}

footer .hijoFooter{
  margin-left: auto;
}

footer main,footer button{
  margin: 0 1rem;
}


.tarjetas{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding-right: auto;
  gap: 2rem;
  height: calc(100% - 10px);
  background-color: white;
  padding: 1rem;
  overflow: scroll;
  height: 80vh;
}

.tarjetas .tarjeta{
  height: 25rem;
  padding: 1rem 0;
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.tarjetas .tarjeta img{
  width: 13rem;
  cursor: pointer;
  height: 13rem;
  object-fit: contain;
}

.tarjetas .tarjeta h4{
  text-align: center;
  font-size: 1.4rem;
  margin-bottom:0;
  margin-top: .5rem;
}

.tarjetas .tarjeta .divBotones,.tarjetas .tarjeta .divInformacion{
  justify-content: space-around;
  width: 100%;
  display: flex;
}

.tarjetas .tarjeta .divBotones{
  margin-top: auto;
}

.tarjeta .divInformacion p{
  margin: 0;
  margin-bottom: .5rem;
}

.tarjeta #id{
  margin: 0;
  font-weight: 100;
  color: #757575;
  margin-bottom: .5rem;
}

.tarjetas .tarjeta .divBotones .botonBorrar{
  background-color: rgb(247, 50, 50);
}

.tarjetas .tarjeta .divBotones .botonAgregar{
  background-color: rgb(1, 175, 1)
}

.tarjetas .tarjeta .divBotones .botonRestar{
  background-color: yellowgreen
}