body{
  padding: 0;
  margin: 0;
}


.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

header input,header select{
  font-size: 1.2rem;
}

.negro{
  background-color: rgb(0, 0, 0);
}

.negro label{
  color: white;
}


#limpiar:hover{
  background-color: #84cc16;
  border-radius: 0.75rem;
  cursor: pointer;
}

#principal{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 85vh;
}

#venta{
  border-right: .1rem solid lightgray;
  background-color: #f0fdf4;
}

#divCarrito{
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}

#divCarrito, #total{
  border-top: .1rem solid #979797;
}

#tarjetaCarrito{
  border: .1rem solid #e5e7eb;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0;
}

#tarjetaCarrito h4{
  font-size: 1.50rem;
}

#tarjetaCarrito #sumar, #tarjetaCarrito #restar{
  border: .1rem solid #979797;
  padding: .5rem;
  background-color: white;
  border-radius: 0.75rem;
  color: #374151;
  font-weight: 600;
}

#tarjetaCarrito #sumar:hover,
#tarjetaCarrito #restar:hover{
  transform: scale(1);
  background-color: #84cc16;
  color: white;
}


#productos{
  background-color: white;
  padding-left: .5rem;
  height: inherit
}

#limpiarProductoCarrito{
  padding: 0.5rem;
}

.buscador input{
  padding: 1rem;
  border: .1rem solid #979797;
  border-radius: 0.75rem;
}

#limpiarProductoCarrito:hover{
  background-color: #84cc16;
  border-radius: 0.25rem;
  cursor: pointer;
}

#botonesTotales button{
  border: .1rem solid #e5e7eb;
}


.tipoPagoSeleccionado {
  background-color: #15803d;
  color: white;
}

#botonesTotales .tipoPagoSeleccionado:hover {
  opacity: 80%;
  background-color: #15803d;
}
#botonesTotales button:hover{
  background-color: #84cc16;
  transform: scale(1);
  color: white;
}

#facturar button{
  color: white;
  background-color: #15803d;
}

#facturar button:hover{
  transform: scale(1);
  opacity: 90%;
}

.secciones{
  display: flex;
  gap: 2rem;
  padding: .5rem;
  width: 70vw;
}

.rubro{
  border: .1rem solid lightgray;
  border-radius: 0.75rem;
  margin: 0;
  padding: 0.5rem;
  font-size: small;
  color: #374151;
  font-weight: 600;
  white-space: nowrap;
}

.rubro:hover{
  background-color: #84cc16;
  cursor: pointer;
  color: white;
}

.rubroActivo{
  background-color: #15803d;
  color: white;
}

.tarjetas{
  padding: 1.25rem;
  overflow-y: auto;
  height: 73vh;
}

.tarjeta{
  gap: 6rem;
  padding: 2.25rem;
  border: .1rem solid rgb(179, 179, 179);
  border-radius: 0.75rem;
  background-color: rgb(236, 236, 236);
}

.divImg{
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: .25rem;
  height: 10rem;
}

.divInfo{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  gap: 2rem;
  align-items: center;
}

.titulo{
  color: rgb(53, 53, 53);
  font-weight: 600;
  margin: 0;
}

.precio{
  color: #15803d;
  font-size: 1.8rem;
  font-weight: bold;
}

.stock{
  background-color: #84cc16;
  font-weight: bold;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.boton{
  padding: 1rem;
  border: .1rem solid lightgray;
  background: #15803d;
  color: white;
  width: 100%;
}

.boton:hover{
  transform: scale(1);
  background-color: #15803d;
  opacity: 80%;
  margin-top: auto;
}

.spinner{
margin-left: 5rem;
border: .4rem solid rgba(0,0,0,1);
width: 3.6rem;
height: 3.6rem;
border-radius: 50%;
border-left-color: transparent;

animation: spin 1s linear infinite

}

@keyframes spin{
0%{
  transform: rotate(0deg);
}

100%{
  transform: rotate(360deg);
}
}