body{
  padding: 0;
  margin: 0;
}


.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

header input,header select{
  font-size: 1.2rem;
}

.negro{
  background-color: rgb(0, 0, 0);
}

.negro header label{
  color: white;
}

#manual{
  transform: scale(1);
  border: .1rem solid #979797;
  background-color: white;
  color: #374151;
  font-weight: 600;
  padding: 0.5rem;
}

#manual:hover{
  color: white;
}

#limpiar:hover, #manual:hover{
  background-color: #84cc16;
  border-radius: 0.75rem;
  cursor: pointer;
}

#principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 85vh; */
}

#venta{
  border-right: .1rem solid lightgray;
  background-color: #f0fdf4;
}

#divCarrito{
  overflow-y: scroll;
}

#divCarrito #productoId{
  white-space: normal;
  word-wrap: break-word;
}

#divCarrito, #total{
  border-top: .1rem solid #979797;
}

#observaciones{
  border: .1rem solid #979797;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

#tarjetaCarrito{
  border: .1rem solid #e5e7eb;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0;
}

#tarjetaCarrito h4{
  font-size: 1.25rem;
}

#tarjetaCarrito #sumar, #tarjetaCarrito #restar{
  border: .1rem solid #979797;
  padding: .5rem;
  background-color: white;
  border-radius: 0.75rem;
  color: #374151;
  font-weight: 600;
}

#tarjetaCarrito #sumar:hover,
#tarjetaCarrito #restar:hover{
  transform: scale(1);
  background-color: #84cc16;
  color: white;
}


#productos{
  background-color: white;
  padding-left: .5rem;
}

#limpiarProductoCarrito{
  padding: 0.5rem;
}

.buscador input{
  padding: 1rem;
  border: .1rem solid #979797;
  border-radius: 0.75rem;
}

#limpiarProductoCarrito:hover{
  background-color: #84cc16;
  border-radius: 0.25rem;
  cursor: pointer;
}

#botonesTotales button{
  border: .1rem solid #e5e7eb;
}


.tipoPagoSeleccionado {
  background-color: #15803d;
  color: white;
}

#botonesTotales .tipoPagoSeleccionado:hover {
  opacity: 80%;
  background-color: #15803d;
}
#botonesTotales button:hover{
  background-color: #84cc16;
  transform: scale(1);
  color: white;
}

#facturar button{
  color: white;
  background-color: #15803d;
}

#facturar button:hover{
  transform: scale(1);
  opacity: 90%;
}

.secciones{
  display: flex;
  gap: 2rem;
  padding: .5rem;
  width: 70vw;
}

.rubro{
  border: .1rem solid lightgray;
  border-radius: 0.75rem;
  margin: 0;
  padding: 0.5rem;
  font-size: small;
  color: #374151;
  font-weight: 600;
  white-space: nowrap;
}

.rubro:hover{
  background-color: #84cc16;
  cursor: pointer;
  color: white;
}

.rubroActivo{
  background-color: #15803d;
  color: white;
}

.tarjetas{
  padding: 1.25rem;
  overflow-y: auto;
  height: 50rem;
}

.tarjeta{
  max-height: 35rem;
  gap: 6rem;
  padding: 2.25rem;
  border: .1rem solid rgb(179, 179, 179);
  border-radius: 0.75rem;
  background-color: rgb(236, 236, 236);
}

.divImg{
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: .25rem;
  height: 10rem;
}

.divInfo{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  gap: 2rem;
  align-items: center;
}

.titulo{
  color: rgb(53, 53, 53);
  font-weight: 600;
  margin: 0;
}

.precio{
  color: #15803d;
  font-size: 1.8rem;
  font-weight: bold;
}

.stock{
  background-color: #84cc16;
  font-weight: bold;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.boton{
  padding: 1rem;
  border: .1rem solid lightgray;
  background: #15803d;
  color: white;
  width: 100%;
}

.boton:hover{
  transform: scale(1);
  background-color: #15803d;
  opacity: 80%;
  margin-top: auto;
}


#modal{
  position: absolute;
  opacity: 80;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.modalContainer{
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: white;
  width: 50rem;
}


#modal h4{
  margin: 0;
  margin-bottom: 1rem;
  color: #374151;
  font-size: 2rem;
  font-weight: 600;
}

#modal main{
  display: flex;  
  gap: 2rem;
  flex-direction: column;
}

#modal main div{
  display: flex;
  flex-direction: column;
}


#modalBotones{
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

#modalBotones #aceptar{
  border: .1rem solid #979797;
  background-color: #15803d;
  color: white;
}

#modalBotones #cancelar{
  border: .1rem solid #979797;
  background: white;
}

#cancelar:hover, #aceptar:hover{
  transform: scale(1);
  opacity: 60%;
}



@media (min-height: 755px) {
  .tarjetas{
    height: 55rem;
  }
  
}